.App {
  text-align: center;
}
body{
  padding-top: 100px;
  font-family: "roboto", sans-serif;
  background: linear-gradient(rgba(136, 49, 207, 0.096),#f800ec1f);

}

.Slist {
  margin-right:110px ;
  margin-left: 110px;
  border: 1px solid rgba(193, 116, 223, 0.74);
  border-radius: 3px;
}
.btn{
  background:rgba(213, 130, 230, 0.562);
  border: 1px solid rgb(193, 116, 223);
  border-radius: 5px;
  color: rgb(45, 0, 56);
  cursor: pointer;
  font-size: 16px;
  padding:5px;
  padding-left: 10px;
  padding-right: 10px;
  
}
input{
  border: 2px solid rgba(193, 116, 223, 0.295);
  border-radius: 3px;
  font-size: 18px;
  height: 32px;
  line-height:20px;
  text-decoration: none;
  width: 100%;
}
table{
  width:100%;
  padding:5px
}
input:focus{
  outline: 0;
  color: black;
}
h1 {
  background: linear-gradient(rgba(136, 49, 207, 0.733),#f800ec91);
  color: white;
  margin: auto;
  text-align: center;
  padding:5px;
}

.mylist{
  color: rgb(134, 4, 134);
  line-height:30px;
  font-size:22px ;
}

.list td{
 color:rgb(78, 5, 100);
 font-size: 18px;
}